@import "fontsource-abril-fatface/index.css"
@import "fontsource-francois-one/index.css"
@import "fontsource-nova-slim/index.css"
@import "fontsource-nova-script/index.css"

$abril = 'Abril Fatface', 'Big Calson', 'Garamond', 'Book Antiqua', 'Georgia', serif
$francois = 'Francois One', 'Segoe UI', 'Roboto', 'Ubuntu', 'Helvetica Neue', Arial, sans-serif
$novaslim = 'Nova Slim', 'Segoe UI', 'Roboto', 'Ubuntu', 'Helvetica Neue', Arial, sans-serif
$novascript = 'Nova Script', 'Segoe UI', 'Roboto', 'Ubuntu', 'Helvetica Neue', Arial, sans-serif

$yellow = #ffcc03
$pink = #fcaebb
$lightest = #c1f0f2
$light = #76bfbe
$neutral = #61aeb0
$shade = #469ca9
$dark = #0e6977
$darkest = #083d45

